@model Weather


<h2>Current Weather for @Model.City</h2>

<p><strong>Temperature:</strong> @Model.Temperature</p>

<p><strong>Description:</strong> @Model.Description</p>


@*<form method="post" action="/Weather/Weather">
    <input type="text" name="input" />
    <input type="submit" value="Submit" />
</form>*@
